<% include header %>
<input type="hidden" id="id_game" value="<%= game["id"] %>">

<p>salut on est ds la game,
    <%= j1 %> doit faire deviner le mot "<%= mot %>" à
    <%= j2 %> il reste <span id="timer"></span> sec</p>

<ul>
    <% for (var i = 0;i < players.length;i++){ %>
        <li> <%= players[i]["name"] %> : <%= players[i]["score"] %> </li>
    <% } %>
</ul>

<ul>
    <% for (var i = 0;i < history.length;i++){ %>
        <% for (var j = 0; j < players.length; j++) {
            if (history[i]["p1"] == players[j]["id"]) {
                history[i]["j1"] = players[j]["name"]
            }
            if (history[i]["p2"] == players[j]["id"]) {
                history[i]["j2"] = players[j]["name"]
            }
        } %>
        <% if (history[i]["isSuccess"] == 1){ %>
            <li> <%= history[i]["j1"] %> a reussi a faire deviner le mot <%= history[i]["actualword"] %>
                à <%= history[i]["j2"] %></li>
        <% } else{ %>
            <li> <%= history[i]["j1"] %> n'a pas reussi a faire deviner le mot <%= history[i]["actualword"] %>
                à <%= history[i]["j2"] %></li>

        <% } %>
    <% } %>
</ul>


<form action="/game/<%= game["id"] %>" method="post">
    <button id="rater" name="fail" type="button">Rater - <span id="essai"></span> essaie(s) restant(s)</button>
</form>
<form action="/game/<%= game["id"] %>" method="post">
    <button name="success" type="submit">Valider</button>
</form>
<form action="/game/<%= game["id"] %>" method="post">
    <button name="finish" type="submit">Fin de partie</button>
</form>

<% include footer_timer.ejs %>