<% include header %>

<p>salut on regarde la game,
    <span id="j1"><%= j1 %></span> doit faire deviner le mot "<span id="word"><%= mot %></span>" à
    <span id="j2"><%= j2 %></span></p>
<ul>
    <% for (var i = 0;i < players.length;i++){ %>
        <li> <%= players[i]["name"] %> : <%= players[i]["score"] %> </li>
    <% } %>
</ul>

<input type="hidden" id="id_game" value="<%= game["id"] %>">


<% include footer_show %>


